---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About · Vini" desc="Sobre e contatos">
  <h1>About</h1>
  <p class="text-caption">[someday this place will have a picture of me]</p>
  <p class="">I'm Vini Zamariola (vz) - version twenty eight years old.</p>
  <p class="">chemical engineer, data analyst, also a photographer, kind of an urbanist, startuper and cyclist.</p>

  <br>
  <p>vz.notes is an effort to create and share a human vision about the things I create</p>
  <br>

  <hr />

  <h2>Reach me</h2>
  <ul>
    <li>Work: <a href="https://www.linkedin.com/in/vinicius-zamariola/">Linkedin</a></li>
    <li>Photography: <a href="https://www.instagram.com/zamaz.jpg" target="_blank" rel="noreferrer">@zamaz.jpg</a></li>
    <li>Urbanism: <a href="https://www.linkedin.com/in/vinicius-zamariola/">Linkedin again</a></li>
  </ul>
</BaseLayout>
